/* ########################## GLOBAL RULES ########################## */
:root{
    --light-grey:#a2a2a2;
    --main-color: #19c8fa;
    --transparent-color:rgb(15 116 143 / 70%);
    ---section-padding: 100px
}
*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
html{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
.container{
    padding: 0 15px;
    margin: 0 auto;
}
@media(min-width:768px){
    .container{
        width:750px;
    }
}
@media(min-width:992px){
    .container{
        width:970px
    }
}
@media(min-width:1200px){
    .container{
        width:1000px
    }
}

/* ########################## HEADER ########################## */
header{
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 3;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 90px;
}
header .container::after{
    content: '';
    height: 1px;
    background-color: var(--light-grey);
    position: absolute;
    bottom: 0;
    left: 15px;
    width: calc(100% - 30px);
}
header .logo img{
    height: 30px;
}
header nav{
    flex: 1;  /*the rest of the box*/
    display: flex;
    align-items: center;
    justify-content: end;
}
header nav .toggle{
    color: white;
    font-size: 17px;
}
@media(min-width:768px){
    header nav .toggle{
        display: none;
    }
}
header nav ul{
    display: flex;
}
@media(max-width:768px){
    header nav ul{
        display: none;
    }
    header nav .toggle:hover + ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 50%);
    }
    header nav .toggle:hover + ul li a{
        padding: 15px !important;
    }
}
header nav ul li a{
    display: block;
    color: white;
    text-decoration: none;
    font: 14px;
    transition: 0.3s;
    padding:35px 10px;
    position: relative;
    z-index: 3;
}
header nav ul li a.active,
header nav ul li a:hover{
    color:var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
header nav .form{
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 40px;
    border-left: 1px solid var(--light-grey);
}
header nav .form i{
    color: white;
    position: absolute;
    font-size: 17px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

/* ########################## Landing ########################## */
.landing{
    min-height: 100vh;
    background-image: url(../images/landing.jpg);
    background-size: cover;
    background-color: #1f2021;
    position: relative;
}
.landing .overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 60%);
}
.landing .text{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    padding: 50px;
    background-color: var(--transparent-color);
    color: white;
    display: flex;
    justify-content: flex-end;
}
@media(max-width:768px){
    .landing .text{
        width: 100%;
        justify-content: center;
    }
    .landing .text .content{
        max-width: 100%;
    }
    .landing .change-background{
        display: none;
    }
}
.landing .text .content{
    max-width: 430px;
}
.landing .text .content h2{
    font-size: 32px;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 20px;
}
.landing .text .content p{
    font-size: 15px;
    line-height: 1.5;
}
.landing .change-background{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ddd;
    z-index: 4;
}
.landing .fa-angle-left{
    left: 30px;
}
.landing .fa-angle-right{
    right: 30px;
}
.landing .bullets{
    position: absolute;
    left: calc(50% - 30px);
    transform: translateY(-50%);
    bottom: 30px;
    display: flex;
}
.landing .bullets li{
    width: 15px;
    height: 15px;
    border: 1px solid white;
    border-radius: 50%;
    margin-left: 4px;
}
.landing .bullets li.active{
    background-color: var(--main-color);
    border-color: var(--main-color);
}

/* ########################## MAIN HEADING ########################## */
.main-heading{
    text-align: center;
}
.main-heading h2{
    font-weight: normal;
    font-size: 40px;
    position: relative;
    margin-bottom: 50px;
    text-transform: uppercase;
}
.main-heading h2::before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: black;
    bottom: -30px;
    width: 120px;
}
.main-heading h2::after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid black;
    bottom: -38px;
    background-color: white;
}
.main-heading p{
    width: 550px;
    margin: 0 auto 100px auto;
    line-height: 1.7;
    color: #777;
}
@media (max-width:768px){
    .main-heading p{
        max-width: 100%;
    }
}

/* ########################## SERVICES ########################## */
.services{
    padding-top: var(---section-padding);
    padding-bottom: var(---section-padding);
}
@media (min-width:768px){
    .services .services-container{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
        grid-column-gap: 40px;
        grid-row-gap: 60px;
    }
}
.services .srv-box{
    display: flex;

}
.services .srv-box i{
    margin-right: 30px;
}
@media (max-width:768px){
    .services .srv-box{
        flex-direction: column;
        text-align: center;
        margin-bottom:40px;
    }
    .services .srv-box i{
        margin-bottom:25px;
        margin-right: 0;
    }
}
.services .srv-box h3{
    font-size: 25px;
    margin-bottom: 15px;
    color: var(--main-color);
}
.services .srv-box p{
    line-height: 1.6;
    color: #777;
}

/* ########################## Services ########################## */
.design{
    padding-top: var(---section-padding);
    padding-bottom: var(---section-padding);
    height: 600px;
    position: relative;
    background-image: url(../images/design-features.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.design::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 60%);
}
.design .image,
.design .text{
    position: relative;
    z-index: 2;
    flex: 1;
}
.design .image{
    text-align: center;
}
@media(max-width:768px){
    .design .image{
        display: none;
    }
}
.design .image img{
    position: relative;
    bottom: -150px;
}
.design .text {
    color: white;
    padding: 50px;
    background-color: var(--transparent-color);
}
.design .text h2{
    font-weight: normal;
    font-size: 30px;
    position: relative;
    margin-bottom: 50px;
    text-transform: uppercase;
}
.design .text ul li{
    padding: 15px 0;
}
.design .text ul li::before{
    font-family: 'Font Awesome 5 Free';
    content: '\f108';
    font-weight: 900;
    margin-right: 15px;
    top:1px;
}

/* ########################## Portfolio ########################## */
.portfolio{
    padding-top: var(---section-padding);
    padding-bottom: 70px;
}
.portfolio .shuffle{
    display: flex;
    justify-content: center;
}
.portfolio .shuffle  li{
    padding: 10px;
    border-radius: 5px;
}
.portfolio .shuffle li.active{
    background-color: var(--main-color);
    color: white;
}
.portfolio .shuffle li:hover{
    color: var(--main-color);
}
.portfolio .imgs{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}
.portfolio .imgs .box{
    position: relative;
    overflow: hidden;
}
@media (min-width:768px){
    .portfolio .imgs .box{
        flex-basis: 50%;
    }
}
@media (min-width:1200px){
    .portfolio .imgs .box{
        flex-basis: 25%;
    }
}
.portfolio .imgs .box img{
    max-width: 100%;
    transition: 0.3s;
}
.portfolio .imgs .box .caption{
    position: absolute;
    left: 0;
    padding: 15px;
    width: 100%;
    transition: 0.3s;
    bottom:-100%;
    background-color: white;
}
.portfolio .imgs .box .caption h4{
    font-weight: 700;
    margin-bottom: 10px;
}
.portfolio .imgs .box .caption p{
    color: var(--main-color);
}
.portfolio .imgs .box:hover .caption{
    bottom: 0;
}
.portfolio .imgs .box:hover img{
    transform: rotate(3deg) scale(1.2);
}
.portfolio a{
    display: block;
    margin: 30px auto;
    width:fit-content;
    background-color: var(--main-color);
    padding: 15px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

/* ############################ Video ############################ */
.video{
    position: relative;
}
.video::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 40%);
}
.video video{
    width: 100%;
}
.video .text{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    background-color: var(--transparent-color);
    color: white;
    text-align: center;
}
.video .text h2{
    margin: 0 0 30px;
    text-transform: uppercase;
    font-weight: normal;
}
.video .text p{
    margin-bottom: 20px;
}
.video .text button{
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    text-transform:uppercase ;
}

