/* ########################## GLOBAL RULES ########################## */
:root{
    --light-grey:#a2a2a2;
    --main-color: #19c8fa;
}
*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
    background-color: black;
}
html{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
.container{
    padding: 0 15px;
    margin: 0 auto;
}
@media(min-width:768px){
    .container{
        width:750px;
    }
}
@media(min-width:992px){
    .container{
        width:970px
    }
}
@media(min-width:1200px){
    .container{
        width:1000px
    }
}

/* ########################## HEADER ########################## */
header{
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 3;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 90px;
}
header .container::after{
    content: '';
    height: 1px;
    background-color: var(--light-grey);
    position: absolute;
    bottom: 0;
    left: 15px;
    width: calc(100% - 30px);
}
header .logo img{
    height: 30px;
}
header nav{
    flex: 1;  /*the rest of the box*/
    display: flex;
    align-items: center;
    justify-content: end;
}
header nav .toggle{
    color: white;
    font-size: 17px;
}
@media(min-width:768px){
    header nav .toggle{
        display: none;
    }
}
header nav ul{
    display: flex;
}
@media(max-width:768px){
    header nav ul{
        display: none;
    }
    header nav .toggle:hover + ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 50%);
    }
    header nav .toggle:hover + ul li a{
        padding: 15px !important;
    }
}
header nav ul li a{
    display: block;
    color: white;
    text-decoration: none;
    font: 14px;
    transition: 0.3s;
    padding:35px 10px;
    position: relative;
    z-index: 3;
}
header nav ul li a.active,
header nav ul li a:hover{
    color:var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
header nav .form{
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 40px;
    border-left: 1px solid var(--light-grey);
}
header nav .form i{
    color: white;
    position: absolute;
    font-size: 17px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}